header {
    background-color: #021326;
    color:black;
    padding: 0px;
    text-align: center;
}

body{
    background-image: url('../images/adminDashboard.png');
    background-repeat: no-repeat;   
    background-size: cover;
}

h1{
    color: rgb(255, 0, 0);
    text-align: center;
}

h2,h3{
    color: black;
    text-align: center;
}

h4{
    color: black;
    text-align: center;
    width: 70%;
    padding: 10px;   
    margin: 0 auto;
}

.wrapper {
    width: 420px;   
    background: #208ab1f1;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 40px 40px;


    position: absolute;
    top:59%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {

    padding: 0px 0;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: #ff0000;
    margin: 0 10px;
}
a{
    color: black;
}

.modif{
    color: aqua;
}