header {
    background-color: #496e7431;
    color:black;
    padding: 0px;
    text-align: center;
}

body{
    background-image: url('../images/dashboard.png');
    background-repeat: no-repeat;   
    background-size: cover;
}

h1{
    color: black;
    text-align: center;
}

h2,h3{
    color: black;
    text-align: center;
}

h4{
    color: black;
    text-align: center;
    border: 3px solid #2ec4df;
    border-radius: 11px;
    width: 70%;
    padding: 10px;   
    margin: 0 auto;
}

.wrapper {
    width: 420px;   
    background: #496e74bd;
    color: white;
    border-radius: 20px;
    padding: 40px 40px;


    position: absolute;
    top:59%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
    padding: 0px 0;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: #000000;
    margin: 0 10px;
}